name: Master CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      - name: Build with Maven
        env:
          db-url: ${{ secrets.DB_URL }}
          db-username: ${{ secrets.DB_USERNAME }}
          db-password: ${{ secrets.DB_PASSWORD }}
        run: mvn clean install | cd /target | ls

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build docker image
        run: ls | docker build -t parcel-swagger
        env:
          db-url: ${{secrets.DB_URL}}
          db-username: ${{secrets.DB_USERNAME}}
          db-password: ${{secrets.DB_PASSWORD}}

      - name: push docker image
        run: docker tag parcel-swagger dile001/swkom:latest | docker push dile001/swkom:latest